.nav-link,
.navbar-brand {
  color: #fff !important;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.action-btn:hover {
  color: #1a622a;
}

.other-btn:hover {
  color: #1a622a;
}

.nav-bg {
  background-color: #083e9e;
}
