.nav-link,
.navbar-brand {
  color: #fff !important;
  font-family: 'Roboto', sans-serif;
}

.action-btn:hover {
  color: #1a622a;
}

.other-btn:hover {
  color: #1a622a;
}

.nav-bg {
  background-color: #000000;
  width: 100%;
}

.navbar-toggler-icon {
  background-color: #fff;
}